<h1><%= @activity.name %></h1>

<% if @activity.waiting? %>
  <%= link_to 'Iniciar Atividade', project_activity_start_activity_index_path(@project, @activity), class: "button" %>
<% end %>

<% if @activity.doing? %>
  <%= link_to 'Finalizar Atividade', project_activity_finish_activity_index_path(@project, @activity), class: "button"%>
<% end %>


